body {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
header h1 {
  font-size: 70px;
  font-weight: 400px;
  line-height: 1.5;
  letter-spacing: 4px;
  padding-bottom: 130px;
  margin: 0;
}
header h2 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: lighter;
  letter-spacing: 3px;
  padding-top: 130px;
  margin: 0;
}
.icon {
  font-size: 25px;
  padding: 40px;
}
/* the content of the website should be centered and the website should have max-width of 1400px*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}
